body {
    background-color: lightgrey;
}

#plot-area {
    text-align: center;
    border: 1px solid black;
    padding: 50px;
    background-color: bisque;

    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}